<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/main.css' />
</head>
<body>
  <section>
    <div class="container text-centered">
      <header>
        <img src="./images/AGENT_HD.svg" width="20%" alt="">
      </header>
      <div class="box">
        <h1 class="title has-text-grey">
          Bienvenue sur le FI de démonstration<br>
          FranceConnect Agent
        </h1>
        <form autocomplete="off" action="/interaction/<%= details.uuid %>/login" method="post">
          <input type="hidden" name="uuid" value="<%= details.uuid %>"/>
          <% if (error.message !== '') {%> <label for="login" class="text-error"> Identifiant incrorrect </label> <% } %>

          <input 
            id="login"
            type="text"
            name="login"
            class="is-full <%= (error.message !== '') ? 'error' : '' %>" 
            placeholder="Veuillez renseigner votre identifiant"
            <% if (!details.params.login_hint) { %> autofocus="on" <% } else { %> value="<%= details.params.login_hint %>" <% } %>
            required
          >

          <% if (error.message !== '') {%> <label for="password" class="text-error"> Mot de passe incrorrect </label><% } %>
          <input
            id="password"
            type="password"
            name="password"
            class="is-full <%= (error.message !== '') ? 'error' : '' %>"
            placeholder="Veuillez renseigner votre mot de passe"
            <% if (details.params.login_hint) { %> autofocus="on" <% } %>
            required
          >
          <buttonc class="is-full">Valider</button>
        </form>
      </div>
    </div>
    <div class="content has-text-right bottom">FranceConnect Agents - Application de démonstration</div>
  </section>
  <script async src="/js/main.js"></script>
</body>
</html>
