<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/bulma.min.css' />
  <link rel='stylesheet' href='/stylesheets/main.css' />
</head>
<body>
  <section class="hero is-success is-fullheight">
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="column is-half is-offset-3">
            <h1 class="title has-text-grey">Connexion</h1>
            <p class="subtitle has-text-grey">Exemple de connexion à un fournisseur d'identité</p>
          <div class="box">
            <form autocomplete="off" action="/interaction/<%= details.uuid %>/login" method="post">
              <input type="hidden" name="uuid" value="<%= details.uuid %>"/>
              <div class="field">
                <div class="control">
                  <% if (error.message !== '') {%> <label for="login" class="has-text-danger"> Identifiant incrorrect </label> <% } %>
                  <input 
                    id="login"
                    type="text"
                    name="login"
                    class="input is-large <%= (error.message !== '') ? 'help is-danger' : '' %>" 
                    placeholder="Veuillez renseigner votre identifiant"
                    <% if (!details.params.login_hint) { %> autofocus="on" <% } else { %> value="<%= details.params.login_hint %>" <% } %>
                    required
                  >
                </div>
              </div>
              <div class="field">
                <div class="control">
                    <% if (error.message !== '') {%> <label for="password" class="has-text-danger"> Mot de passe incrorrect </label><% } %>
                  <input
                    id="password"
                    type="password"
                    name="password"
                    class="input is-large <%= (error.message !== '') ? 'help is-danger' : '' %>"
                    placeholder="Veuillez renseigner votre mot de passe"
                    <% if (details.params.login_hint) { %> autofocus="on" <% } %>
                    required
                  >
                </div>
              </div>
              <button class="button is-block is-large is-fullwidth">Se connecter</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script async src="/js/main.js"></script>
</body>
</html>
