<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/bulma.min.css' />
</head>
<body>
<section class="section is-medium"><h1 class="title is-1 has-text-centered"><%= title %></h1></section>
<section class="section is-small">
  <div class="container">
    <div class="columns is-centered">
      <div class="column">
        <div class="notification has-text-centered">
          <form action="/interaction/<%= details.uuid %>/login" method="post">
            <div class="field">
              <input type="hidden" name="uuid" value="<%= details.uuid %>"/>
              <div class="control">
                <% if (error.message !== '') {%> <label for="login" class="has-text-danger"> Identifiants incrorrects </label> <% } %>
                <input required class="input is-small <% if(error.message !== '') {%>help is-danger<%}%>" type="text" name="login" placeholder="Enter any login" <% if (!details.params.login_hint) { %>autofocus="on"<% } else { %> value="<%= details.params.login_hint %>" <% } %>>
              </div>
              <br>
              <div class="control">
                <% if (error.message !== '') {%> <label for="password" class="has-text-danger"> Password incrorrects </label><% } %>
                <input required class="input is-small <% if(error.message !== '') {%>help is-danger<%}%>" type="password" name="password" placeholder="and password" <% if (details.params.login_hint) { %>autofocus="on"<% } %>>
              </div>
              <br>
              <div class="field is-grouped is-grouped-centered">
                <div class="control">
                  <button class="button is-link">Sign-in</button>
                </div>
                <div class="control">
                  <a class="button is-text" href="/">Cancel</a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>
